body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background: #34e89e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  font-family: 'Operator Mono', 'Roboto mono', 'SF mono', 'Consolas', monospace;     
}

.flex, .social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
}

nav {
  border: solid 1px white;
  border-top: none;
  padding: 12px;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;  
  position: fixed;
  top: 0;
  left: 16px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  color: inherit;
  font-family: inherit;
  padding: 4px 12px;
  margin: 8px;
}

