body {
  margin: 0;
  padding: 0;
  background: #47b;
  color: #fff;
  width: 100vw;
  min-height: 100vh;
}

.flex, .social {
  font-family: 'Operator Mono', 'Roboto mono', 'SF mono', 'Consolas', monospace;  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

h1, h2, h3, a[href] {
  margin: 8px;
  font-family: 'Operator Mono', 'Roboto mono', 'SF mono', 'Consolas', monospace;
  font-weight: 400;
}

nav {
  background: #fff;
  color: #47b;
  padding: 12px;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;  
  position: fixed;
  align-self: flex-start;
}

.avatar {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.others {
  margin: 32px;
  text-align: center;
}

.btn {
  background: #fff;
  color: #47b;
  text-decoration: none;
  font-family: 'Operator Mono', 'Roboto mono', 'SF mono', 'Consolas', monospace;
  padding: 4px 8px;
  margin: 8px;
  /* special effects */
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.125);  
  transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn:hover {
  background: #47b;
  color: #fff;
}
