body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  font-size: 16px;
  font-family: sans-serif;

  user-select: fff;
  background: #222233;
  background: -webkit-linear-gradient(to right, #53346D, #222233);
  background: linear-gradient(to right, #53346D, #222233);
  color: white;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Acme', sans-serif;
  margin: 8px;
  padding: 8px;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-weight: 300;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  color: inherit;
  font-family: inherit;
  padding: 4px 12px;
}

.cta-btn {
  font: inherit;
  width: 10rem;
  height: 3rem;
  background: inherit;
  color: white;
  border: solid 1px white;
  border-radius: 3rem;
  margin: 1rem;
  transition: all 0.125s ease-in-out;
}

.cta-btn:hover {
  color: #53346D;
  background: white;
}

.social {
  margin: auto;
}

.center {
  text-align: center;
}