*/ css created by jztsaurabh for jztsaurabh.github.io */
P,h3,h6
{
Font-face: serif;
Font-color : #ffffff;
Font-size : 70px;
Font-weight : 300;
Padding : 2em;
Height  : 1.2em;

}
HTML
{

}
H1
{
Font-size : 36px;
Font-face : segoe UI;

}
