body {
  width: 100%;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial,
    sans-serif;
  background-color: #fff;
  color: #4b4b4b;
  font-size: 1.25rem;
  background-color: #f4f0f9;
  background-image: url("static/texture.svg");
  background-size: 4px;
}

html {
  font-size: 16px;
}

.fa {
  transform: scale(1.25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  z-index: 1;
}

.header {
  text-align: center;
  background-color: #8661c1;
  background-image: url("static/circuit-board.svg");
  background-size: 100px, auto;
  color: #fff;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 100px), 0 100%);
  clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 100px), 0 100%);
  padding-bottom: 250px;
  padding-top: 100px;
  overflow: hidden;
  font-size: 1.2rem;
  margin-bottom: -200px;
}

.header .header-headline {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: calc(5vw + 16px);
  margin: 1rem auto;
  cursor: cell;
  font-family: "Montserrat", sans-serif;
}

.header-headline span {
  display: inline-block;
  transition: all 0.5s ease;
}

/* .header-headline:hover span {
  transform: rotate(1turn);
} */

.content,
.projects,
.blog {
  background: #ffffff;
  padding: 32px;
  margin-bottom: 64px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

.projects a,
.blog a,
.content a {
  text-decoration: none;
  color: #8661c1;
  font: inherit;
}

.header .social {
  max-width: 300px;
  margin: 2rem auto;
}

.header .social a {
  display: inline-block;
  text-decoration: none;
}

.header .social a i {
  font-size: 1.5rem;
  background: #fff;
  color: #8661c1;
  padding: 0.5rem;
}

.header .social a:hover {
  transform: scale(2);
}

.projects-headline {
  margin: 1rem auto;
  display: block;
}

.projects-list {
  list-style: none;
  display: grid;
  justify-content: center;
  grid-template-columns: minmax(200px, 320px);
  grid-gap: 1rem;
}

.project-card {
  max-width: 100%;
  display: inline-block;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

.project-card .project-name[href] {
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 500;
}

.project-card .project-img {
  margin-bottom: 0.5rem;
  width: 100%;
}

.project-card .project-detail {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.125rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

@media screen and (min-width: 600px) {
  .content,
  .projects,
  .blog {
    padding: 64px;
  }
  .projects-list {
    grid-template-columns: 350px 350px;
  }
}
